.custom-button-one{
    border-radius: 8px;
    border: none;
    padding: 10px 8px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    color: white;
    transition: border-color 0.25s;
    margin-bottom: 15px;
    width: 50%;
}

.button-box-1{
    display: flex;
    width: 30%;
    height: 100vh;
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
    background-color: rgba(165, 42, 42, 0.502);
    padding: 0 15px;
}

.button-box-1 > * {
    margin-bottom: 10px;
}

.custom-button-one:hover{
    background-color: rgb(124, 129, 96);
}